@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  background-image: url("bg-image1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  height: 10vh;
  margin: auto;
}

.header .logo-container {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo-container p {
  margin-right: .5em;
  font-size: 18px;
  color: #DB7100;
}

.header .logo-container .logo {
  width: 3em;
}

.header .navbar {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.header .navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header .navbar .nav-links .nav-link {
  color: #D2B68A;
  font-size: 14px;
  padding: 1em 1em;
  -webkit-transition: linear 100ms;
  transition: linear 100ms;
}

.header .navbar .nav-links .nav-link:hover {
  border-bottom: 3px solid #DB7100;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80vw;
  height: 50vh;
  margin-right: auto;
  margin-left: auto;
}

.main h1 {
  font-size: 48px;
  color: #D2B68A;
}

.main .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main p {
  font-size: 24px;
  color: #D2B68A;
  margin-right: 1em;
}

.main .cta {
  border: 1px solid #DB7100;
  padding: 1em;
  width: 150px;
  outline: none;
  cursor: pointer;
  -webkit-transition: linear 500ms;
  transition: linear 500ms;
  text-transform: uppercase;
}

.main .about-cta {
  margin-right: 2em;
  background: transparent;
  color: #DB7100;
}

.main .about-cta:hover {
  background-color: #DB7100;
  color: #f0e9df;
}

.main .offer-cta {
  background-color: #DB7100;
  color: #f0e9df;
}

.main .offer-cta:hover {
  background-color: transparent;
  color: #DB7100;
}
/*# sourceMappingURL=styles.css.map */